html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe', 'Segoe UI', 'Arial', 'sans-serif';
    margin: 0;
}

.container {
	height: 93.6%;
	display: flex;
}

.header {
    height: 6.4%;
    background: #346fef;
    position: relative;
}

.leftPanel {
	height: 93.6%;
	width: 290px;
	display: inline-block;
	float: left;
	position: relative;
	transition: width 0.3s;
}

.leftPanelMenu {
	height: 48px;
    margin-top: 12px;
}

.leftPanelContainer {
	padding-top: 8px;
}

.leftPanel button {
    cursor: pointer;
    padding: 4px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
}

.leftPanelContent {
    height: 36px;
	padding: 0px 12px;
	color: #34373d;
	font-size: 1.4rem;
	cursor: pointer;
	background-color: rgb(244,244,244);
}

#listInput {
    padding: 6px;
    border: none;
    width: 175px;
    display: inline-block;
}

.leftPanelContent:hover {
	background-color: rgb(250,250,250);
}

.blue {
    color: #2e5cdb;
}

 i {
	height: 24px;
	width: 24px;
}

/*.fa-sun-o { 
	transform: scale(1.071,1.091);
}*/

.fa-user {
	color: rgb(102, 169, 52);
}

.fa-home, .fa-bars, .fa-list, .fa-plus {
    color: rgb(97, 119, 230);
}

.leftPanelTitle {
    margin: 0 8px;
    display: inline-block;
}

.addTask input[type=text] , .addStep input[type=text] {
	padding: 6px;
	border: none;
	width: 100%;
	display: inline-block;
}

input, button {
    outline: none;
}

::placeholder {
    color: #2e5cdb;
}

input:focus::-webkit-input-placeholder {
    color: #34373d;
}

.toDoList {
	 display: inline-block;
	 width: 100%;
	 height: 93.6%;
}

.lines {
	
}

.taskHeaderContainer {
   padding: 12px 16px 0px 16px;
}

.taskHeader {
    padding: 6px 8px;
    display: inline-block;
}

.taskHeaderContainer button {
	postion: relative;
	left: 300px;
}

.listTitle {
    position: relative;
	color: #3e69e4;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.addTask {
    margin: 0 8px;
    padding: 0 12px;
    display: flex;
}

.addTask button, .addStep button {
	width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
    border: none;
    background: transparent;
}

.taskInput {
	width: 100%;
}

.tasks {
    min-height: 52px;
    padding : 0px 12px;
    display: flex;
    border-bottom: 1px solid rgb(229,229,229);
}

.taskTitle {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #34373d;
    padding: 8px 12px;
    vertical-align: middle;
    line-height: 40px;
}

.taskTitle span {
	
}

.checkBox {
	height: 32px;
	width: 32px;
	cursor: pointer;
	padding-top: 9px;
}

.taskDetails {
    border-left: 1px solid #eaeaea;
    height: 100%;
    background: #f5f5f5;
    width: 355px;
    display: flex;
    flex-direction: column;
}

.taskDetailsContainer {
    padding: 10px 10px 16px 10px;
    background-color: rgb(245,245,245);
}

.taskHeader {
	
}

.bold {
    font-weight: 600;
}

.addStep {
	display: flex;
}

.taskDetailsContent {
	width: 341px;
	background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(229,229,229);
}

.addMyDay {
	display: flex;
	margin: 10px 0px 10px 0px;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(229,229,229);
}

.rightContainer {
	padding: 4px 0;
    font-size: 1.4rem;
    color: #767678;
    margin: 0 8px;
}

.rightContainerAddMyDay {
    padding: 4px 0;
    font-size: 1.4rem;
    color: #767678;
    margin: 0 8px;
    display: flex;
}

.rightSubContainer {
	width: 100%;
}

.rightPanelContent {
	margin: 10px 0px;
}

/*svg {
    width: "32";
    height: "32";
}


circle {
    cx: "16";
    cy: "16";
    r: "8";
    stroke: "blue";
    stroke-width: "2";
    fill: "white";
} */
